.uv {

    .headerPanel {

        color: @text-secondary-color;

        button.imageBtn {
            float: left;
            i {
                height: 30px;
                width: 30px;
            }
            .hide-text();
        }

        &.showInformation {
            height: 80px;
        }

        .options {
            height: 40px;
            background-color: @panel-dark-bg;

            .centerOptions {
                position: absolute;
            }

            .rightOptions {
                float: right;
                a{
                    float: left;
                    margin-right: 10px;

                    &.linkOldImageViewer{
                        margin-top: 12px;
                        text-decoration: underline;
                    }
                }

            }
        }

        .headerBorder {
            display: none;
        }
                
        .informationBox {
            background: @brand-warning;
            color: @gray-dark;
            width: 100%;
            position: absolute;
            height: 40px;

            .message {
                float: left;
                overflow: hidden;
                margin: 13px;
            }

            .actions {
                float: left;
                margin: 6px 0 0 0;

                .btn {
                    margin: 0 6px 0 0;
                }
            }

            .close {
                background: 0 0;
                border: 0;
                color: @gray-dark;
                font-size: 1.5rem;
                cursor: pointer;
                margin-right: 6px;
                &:focus,
                &:hover {
                  color: @gray-darker;
                }
            }
        }
    }
}
